{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "expect": false,
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "document": false,
    "window": false,
    "jest": false,
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-named-as-default": "off",
  },
}
